<ul>
    <li *ngFor="let todo of todos; let i=index">
        <span [class.done]="todo.completed">
            <input type="checkbox" [checked]="todo.completed" (change)="onChange(todo.id)">
                <strong>{{i+1}}</strong>
                {{todo.title}}
        </span>

        <small>{{todo.date | date:'medium'}}</small>

        <button class="rm">&times;</button>
    </li>
</ul>
